<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/context
   			http://www.springframework.org/schema/context/spring-context-4.2.xsd
   			http://www.springframework.org/schema/mvc
   			http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
            http://www.springframework.org/schema/osgi
            http://www.springframework.org/schema/osgi/spring-osgi.xsd">

	<context:component-scan base-package="com.ttn.aem.osgispringhelloworld.controllers"></context:component-scan>

	<mvc:annotation-driven/>

	<bean id="helloWorldService" class="com.ttn.aem.osgispringhelloworld.services.impls.HelloWorldServiceImpl" />

	<osgi:service id="osgiHelloWorldService" ref="helloWorldService"
		interface="com.ttn.aem.osgispringhelloworld.services.HelloWorldService" />
</beans>